/* Add some global styles here! */

html * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color-scheme: normal;
}

.link_text {
  color: orange;
  text-decoration: none;
}

.pure-button.pure-button-primary {
  background-color: orange;
  border-color: orange;
}

.pure-button.pure-button-primary:hover {
  background-color: darkorange;
  border-color: darkorange;
}

.centered-link {
  display: flex;
  justify-content: center;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pure-control-group, .pure-controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pure-control-group input {
  text-align: center;
  margin: 3px;
}

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
